<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/create_a_notebook_function_file_creat_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [11]:
#python standard library
#csv module

import csv

with open('gdrive/My Drive/Colab Notebooks/work file acess/test.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

Name,Popularity(out, of, 10)
Python,9
C,6
C++,8
Java,7
Prolog,3

**How to see the data in the table**

---

so use a library( pandas )

In [19]:
data=panda.read_csv('gdrive/My Drive/Colab Notebooks/work file acess/test.csv')

     Name  Popularity(out of 10)
0  Python                      9
1       C                      6
2     C++                      8
3    Java                      7
4  Prolog                      3

**Now we want to see the first two data.**

---

so i will use the variable that I have taken its(data) and I will take the function(head) along with it. And I will write 2 to see 2 data

In [20]:
data.head(2)

     Name  Popularity(out of 10)
0  Python                      9
1       C                      6

**Now we want to see the last two data**

---

In [21]:
data.tail(2)

     Name  Popularity(out of 10)
3    Java                      7
4  Prolog                      3

**Now we want to see row and colom info**

---

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   5 non-null      object
 1   Popularity(out of 10)  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

**Now we want to see shape of row and colom info**

---

In [24]:
data.shape

(5, 2)

install a new library  so we can use the library

we can see here this library Requirement already satisfied

In [4]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)