<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/My_first_program_python_%22print_Hello_word%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello Word")

Hello Word

# **Variable and assignment statements**

---

In [1]:
x=7
y=3
print(x+y)

10

In [2]:
total = x+y
print(total)

10

In [4]:
name = "Faruq"
name2 = "+ meem"
print(name,name2)

Faruq + meem

# **Types**

---

In [5]:
x = 10
type(x)

int

In [6]:
type(10.5)

float

In [7]:
type(name)

str

In [8]:
type(1/2)

float

# **Arithmetic operations**

---

In [10]:
multiplication =7*4
print(multiplication)

28

In [13]:
add = 20+8
print(add)

28

In [15]:
sub = 30-2
print(sub)

28

In [17]:
Exponentiation = 2**10
print(Exponentiation)

1024

# **True Division(/) vs Floor Division(//)**

---

In [18]:
True_Division = 7/4
print(True_Division)

1.75

In [20]:
Floor_Division = 7//4
print(Floor_Division)

1

In [21]:
remainder = 15%7
print(remainder)

1

# **Relational Operations**

---

In [23]:
x = 105
y = 100

In [24]:
x>y

True

In [25]:
x<y

False

In [26]:
x==y

False

In [28]:
x!=y

True

In [29]:
x>=y

True

In [30]:
x<=y

False

# **Chaining Comparisons**

---

In [ ]:
x =3
y =10

In [35]:
1 <= x <= 5

False

In [32]:
1 <= y <= 5

False

#**Print Fuction**

---

***Printing a Comma- Separated List of items***

In [36]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

***Printing Many Lines of text with one Statement***

In [37]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

***The following table shows some common escape sequences.***

# **Ignoring a line break in a long string**

---

In [38]:
print('this is a longer string, so we \ split it over two lines;')

this is a longer string, so we \ split it over two lines;

# **Printing the value of an Expression**

---

In [39]:
print('Sum is', 7+3)

Sum is 10

# **What dose the following print statement display**

---

***print('int(5.2)','truncates 5.2 to',int(5.2))***

In [40]:
print('int(5.2)','truncates 5.2 to',int(5.2))

int(5.2) truncates 5.2 to 5

***Including Wuotes in string***

In [3]:
print('Dispaly "hi" in quotes')

Dispaly "hi" in quotes

In [4]:
print('Dispaly \'hi\' in quotes') #using the \' escape sequence;

Dispaly 'hi' in quotes

In [5]:
print("Dispaly the name 0' Brine")

Dispaly the name 0' Brine

In [6]:
print('Dispaly \"hi\" in quotes')

Dispaly "hi" in quotes

**avoid ' and " use the template is triple quotes**

In [9]:
print("""Dispaly "hi" and 'bye' in quotes""")

Dispaly "hi" and 'bye' in quotes

***Multiline string***

In [10]:
triple_quoted_string = """ This is a triple-quoted
  string that spans two lines"""

In [12]:
print(triple_quoted_string)

 This is a triple-quoted
string that spans two lines

In [13]:
triple_quoted_string

' This is a triple-quoted\nstring that spans two lines'

In [16]:
print(""" This is a lengthy
multiline string contining 
a few lines \ 
of text""" )

 This is a lengthy
multiline string contining
a few lines \
of text

#**Precision Handling in Python**

---

In [22]:
a = 3.4536475856

In [23]:
#using "%" to print value till 2 decimal places
print("The value of number till 2 decimal place(using %) is : ",end="")
print('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [24]:
#using "%" to print value till 4 decimal places
print("The value of number till 4 decimal place(using %) is : ",end="")
print('%.4f' %a)

The value of number till 4 decimal place(using %) is : 3.4536

# **Getting Input from the user**

---

***The built-in input function reqests and obtains users input:***

In [ ]:
The built-in input function reqests and obtains users input:

In [41]:
print(name)

Faruq

In [43]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 30
Enter second number: 40

In [44]:
total = value1 + value2
print(total)

3040

In [45]:
type(total) #python takes input as a string we have to type cast the input

str

In [46]:
total = int(value1) + int (value2) # type custing to int format
print(total)

70

# **Getting an Integer from the user by casting the input format**

---

In [ ]:
another_value = int(input('Enter another integer: '))

In [ ]:
print(another_value)

# **Taking multiple input from the user**

---

In [ ]:
a,b = input().split()

In [ ]:
print(a,b)

In [ ]:
print(type(a))

# **Solving Problem**

---

***Determining the minimum and masimum with Built-in function min and max***

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

In [ ]:
min(number1,number2,number3)

In [ ]:
max(number1,number2,number3)

# **Exercise**

---

***Exercise***

---

In [ ]:
x=2
y=3

In [ ]:
print('x =',x)

In [ ]:
print('Value of',x,'+',x,'is',(x+x))

In [ ]:
print('x=')

In [ ]:
print((x+y),'=',(y+x))