<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/Sir_class_week_3_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Built in function all**

---

In [ ]:
print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()
a=10
b=21
print(max(a,b))
print(min(a,b))

c=10.4
d=int(c)
print(d)

e="python"
print(type(e))

Hi, I am semi-colon. Do you miss me?
Let me know if you miss me or not.
yes
21
10
10
<class 'str'>

**User define function**

---

function return the value

In [ ]:
def add(a,b):
    c=a+b
    return c

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

Enter a number: 10
Enter a number: 56
The sum is 66

In [23]:
def sum():
  a=3+8
  return a
b=sum()
print(b)

11

**Function with Different Parameters**

---

Multiple parameters

In [20]:
def divisor(x,y,m):
  if x%m==0 and y%m==0:
    print("%d & %d are divisible by %d"%(x,y,m))
  elif x%m==0:
    print("only %d are divisible by %d"%(x,m))
  elif y%m==0:
    print("only %d are divisible by %d"%(y,m))
  else:
    print("none of %d & %d are divisible by %d"%(x,y,m))
divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divisible by 5
only 20 are divisible by 5
only 10 are divisible by 5
none of 2 & 5 are divisible by 3

In [35]:
def function_multi_params(a,b,c):
  return a+b/c

print(function_multi_params(3,4,5))

3.8

In [43]:
def function_multi_params(a,b,c):
  if c>0:
   return a+b/c
  else:
    return a+b

print(function_multi_params(3,4,10))

3.4

In [44]:
def function_multi_params(a,b,c):
  if c>0:
   return (a+b)/c
  else:
    return a+b

print(function_multi_params(3,4,10))

0.7

In [51]:
def list(*food):
  print(food)
list('apples','banana','orrange')

('apples', 'banana', 'orrange')

In [2]:
def profile(name,*age):
  print(name)
  print(age)
profile('Faruq',20,21,22,23,24)

Faruq
(20, 21, 22, 23, 24)

Default parameter

In [3]:
def default(a,b=10):
  print(a,"-",b)
default(2,5)

2 - 5

here happybirthday set of default

In [5]:
def wishCard(name,wish="Happy Birthday to you"):
  print(wish,name)
wishCard("Faruq")

Happy Birthday to you Faruq

new default value is declear here.

In [6]:
def wishCard(name,wish="Happy Birthday to you"):
  print(wish,name)
wishCard("Faruq","Happy Birthday")

Happy Birthday Faruq

**Global Vriable and local variable**

---

In [8]:
var = 10
def globalfunction():
  print(var)
globalfunction()

10

var is arrithmetic operator

In [9]:
var = 10
def globalfunction():
  print(var+1)
globalfunction()

11

can i modify this var its wrong

In [10]:
var = 10
def globalfunction():
  var = var+1
  print(var)
globalfunction()

UnboundLocalError: ignored

Can i modify var i declear the global variable because this inner name is local and outer name is global variable .so can i include in function global variable and another global variable input in the same function then 1st i assign the innitial variable its does not catch up this variable so its very defecult in this program so do not permit the local variable is called global variable.

so any how i need modify the program is global variable then i can use this processis

In [11]:
var = 10
def globalfunction():
  global var
  var = var + 1
  print(var)
globalfunction()

11

good practice is can i create a local variable 1st then its local ue can use modyfy, edit anoder prosecc ue can use here

In [12]:
var = 10
def globalfunction():
  loc = var
  loc = loc + 1
  print(var)
globalfunction()

10

Without Parameter

In [22]:
def sum():
  a=3+8
  return a
b=sum()
print(b)

11

In [31]:
def sum(a,b,c):
  sum= a+b+c
  return sum

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
d=sum(a,b,c)
print("The sum is", d)

Enter a number: 5
Enter a number: 7
Enter a number: 6
The sum is 18

In [27]:
def sum(a,b,c):
  sum= a+b+c
  print(sum)
sum(4,5,6)

15