<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/URI_SOLVE_(1_10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Extremely Basic 1001 URI**

---

In [ ]:
A = int(input())
B = int(input())
X=A+B
print("X = %i"%X)

10
9
X = 19

# **Area of a Circle 1002 URI**

---

In [ ]:
R = float(input())
n = 3.14159
A = n*(R*R)
print("A = %0.4f"%A)

2.00
A = 12.5664

# **Simple Sum 1003 URI**

---

In [ ]:
a =int (input())
b =int (input())

SOMA = a+b

print('SOMA =',SOMA)

30
10
SOMA = 40

# **Simple Product 1004 URI**

---

In [ ]:
a = int(input())
b = int(input())
prod = a*b

print('PROD =',prod)

3
9
PROD = 27

# **Average 1 1005 URI**

---

In [ ]:
a = float(input())
b = float(input())

media = ((a*3.5)+(b*7.5))/11

print('MEDIA = %.5f' % media)

5.0
7.1
MEDIA = 6.43182

# **Average 2 1006 URI**

---

In [ ]:
a = float (input())
b = float (input())
c = float (input())

meida = ((a*2)+(b*3)+(c*5))/(2+3+5)

print('MEDIA = %.1f' % media)

5.0
6.0
7.0
MEDIA = 6.4

# **Difference 1007 URI**

---

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())

DIFERENCA = ((A*B)-(C*D))
print("DIFERENCA = %d" %DIFERENCA)

5
6
7
8
DIFERENCA = -26

# **Salary 1008 URI**

---

In [ ]:
a = int(input())
b = int(input())
c = float(input())

salary = b*c

print("NUMBER = %i"%a)
print("SALARY = U$ %.2f"%salary)

25
100
5.50
NUMBER = 25
SALARY = U$ 550.00

# **Salary with Bonus 1009 URI**

---

In [ ]:
a = input()
b = float(input())
c = float(input())

salary = b + (c*0.15)

print("TOTAL = R$ %.2f"%salary)

JOAO
500.00
1230.30
TOTAL = R$ 684.54

# **Simple Calculate 1010 URI**

---

In [ ]:
P1_code,P1_unit,P1_price=map(float,input().split())
P2_code,P2_unit,P2_price=map(float,input().split())

total = (P1_unit*P1_price+(P2_unit*P2_price))

print("VALOR A PAGAR: R$ %.2f"%total)

12 1 5.30
16 2 5.10
VALOR A PAGAR: R$ 15.50

# **Age in Days 1020 URI**

---

In [ ]:
idade = int (input())

anos = int (idade/365)
saldo = idade - (anos*365)

meses = int(saldo/30)
dias = saldo - (meses*30)

print(anos, "ano(s)")
print(meses, "mes(es)")
print(dias, "dia(s)")

400
1 ano(s)
1 mes(es)
5 dia(s)