<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/Week2_If_else_statement_control_structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **If Statement**

---

In [1]:
grade = 85
if grade >= 60:
  print('Passed')

Passed

# **If else Statement**

---

In [8]:
grade = 85
if grade>= 60:
   print("Passed")
else:
   print("Failed")

Passed

In [9]:
grade = 57
if grade >= 60:
 print('Passed')
else:
 print('Failed')

Failed

#**Conditional Expressions**

---

In [14]:
result = ('Passed' if grade >= 60 else 'Failed')

In [15]:
print(result)

Failed

# **Multiple Statements in a Suite**

---

In [16]:
grade = 49
if grade >= 60:
 print('Passed')
else:
 print('Failed')
 print('You must take this course again')

Failed
You must take this course again

In [25]:
grade = 100
if grade >= 60:
  print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Passed

# **IF...elif...else statement**

---

In [28]:
grade = 77
if grade >= 90:
 print('A')
elif grade >= 80:
 print('B')
elif grade >= 70:
 print('C')
elif grade >= 60:
 print('D')
else:
 print('F')

C

# **while Statement**

---

In [31]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =""
  number+=1

1 2 3 4 5 6 7 8 9

In [36]:
product = 3

while product <= 50:
 product = product * 3

In [37]:
print(product)

81

# **For statement**

---

In [38]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:

In [39]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [40]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [41]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [42]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [43]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

***Number table print using range function***

***Take an input from user and print the number table***



```
# This is formatted as code
```

In [44]:
number =  int(input())

7

In [45]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


Nested For Loop

In [46]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]


***Break statement***

In [47]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4


**Continue statement**

In [48]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

#**Beginner Problem solving from Uri Online Judge**

---

https://www.urionlinejudge.com.br/judge/en/problems/index/1