<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/week_4_all_details(list_related%2Ctuple%2C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating List**

---

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(lst0)
lst1=[]
print(lst1)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[]

In [34]:
# Python program to demonstrate  
# Creation of List  
  
# Creating a List 
List = [] 
print("Blank List: ") 
print(List) 
  
# Creating a List of numbers 
List = [10, 20, 14] 
print("\nList of numbers: ") 
print(List) 
  
# Creating a List of strings and accessing 
# using index 
List = ["Faeuq", "For", "Hossain"] 
print("\nList Items: ") 
print(List[0])  
print(List[2]) 
  
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['Faruq', 'For'] , ['Hossain']] 
print("\nMulti-Dimensional List: ") 
print(List)

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Faeuq
Hossain

Multi-Dimensional List:
[['Faruq', 'For'], ['Hossain']]

**Creating a list with multiple distinct or duplicate elements**

A list may contain duplicate values with their distinct positions and hence, multiple distinct or duplicate values can be passed as a sequence at the time of list creation.

In [35]:
# Creating a List with  
# the use of Numbers 
# (Having duplicate values) 
List = [1, 2, 4, 4, 3, 3, 3, 6, 5] 
print("\nList with the use of Numbers: ") 
print(List) 
  
# Creating a List with  
# mixed type of values 
# (Having numbers and strings) 
List = [1, 2, 'Faruq', 4, 'For', 6, 'Faruq'] 
print("\nList with the use of Mixed Values: ") 
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Faruq', 4, 'For', 6, 'Faruq']

**Knowing the size of List**

---

In [ ]:

# Creating a List 
List1 = [] 
print(len(List1)) 
  
# Creating a List of numbers 
List2 = [10, 20, 14] 
print(len(List2))

0
3

**Accessing elements from the List**

---

In [36]:
# Python program to demonstrate  
# accessing of element from list 
  
# Creating a List with 
# the use of multiple values 
List = ["Faruq", "For", "Faruq"] 
  
# accessing a element from the  
# list using index number 
print("Accessing a element from the list") 
print(List[0])  
print(List[2]) 
  
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['Faruq', 'For'] , ['Faruq']] 
  
# accessing an element from the  
# Multi-Dimensional List using 
# index number 
print("Acessing a element from a Multi-Dimensional list") 
print(List[0][1]) 
print(List[1][0])

Accessing a element from the list
Faruq
Faruq
Acessing a element from a Multi-Dimensional list
For
Faruq

**iterating list**

---

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in lst0:
  print(i,end='')
  print('')

1
2
3
32
2.23
43.23
python
[2, 32, 3]

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in lst0:
  print(i)

1
2
3
32
2.23
43.23
python
[2, 32, 3]

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
i = 0
while i<=6:
  print(lst0[i])
  i+=1

1
2
3
32
2.23
43.23
python

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-4])

3
python
python
2.23

**List operations**

---

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(len(lst0))                #len( ) gives the length of the list

8

In [ ]:
lst0.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst0)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]

In [ ]:
lst0.insert(2,"pandas")         #insert( ) insertes an element on a given index
print(lst0)

[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]

In [ ]:
lst0.remove(3)                  #remove( ) removes first occurence of an element
print(lst0)

[1, 2, 'pandas', 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]

In [ ]:
print(lst0.index("python"))     #index( ) returns index of first occurence of an element

6

In [ ]:
print(lst0.count('pandas'))     #count( ) reuturns the number of occurence of an element

1

In [ ]:
print(lst0.reverse())           #reverse( ) makes a reverse list

None

In [ ]:
lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

[[12, 2, 12, 2], [2, 32, 3], 'python', 43.23, 2.23, 32, 'pandas', 2, 1]

In [ ]:
lst0.clear()                    #clear( ) makes the list empty
print(lst0)

[]

**Join list**

In [32]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [33]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

**lsit slicing**

---

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use Slice operation. Slice operation is performed on Lists with the use of a colon(:). To print elements from beginning to a range use [: Index], to print elements from end-use [:-Index], to print elements from specific Index till the end use [Index:], to print elements within a range, use [Start Index:End Index] and to print the whole List with the use of slicing operation, use [:]. Further, to print the whole List in reverse order, use [::-1].

Note – To print elements of List from rear end, use Negative Indexes.

In [37]:
# Python program to demonstrate  
# Removal of elements in a List 
  
# Creating a List 
List = ['f','a','r','u','q', 
        'H','o','S','S','a','i','n'] 
print("Intial List: ") 
print(List) 
  
# Print elements of a range 
# using Slice operation 
Sliced_List = List[3:8] 
print("\nSlicing elements in a range 3-8: ") 
print(Sliced_List) 
  
# Print elements from a  
# pre-defined point to end 
Sliced_List = List[5:] 
print("\nElements sliced from 5th "
      "element till the end: ") 
print(Sliced_List) 
  
# Printing elements from 
# beginning till end 
Sliced_List = List[:] 
print("\nPrinting all elements using slice operation: ") 
print(Sliced_List)

Intial List:
['f', 'a', 'r', 'u', 'q', 'H', 'o', 'S', 'S', 'a', 'i', 'n']

Slicing elements in a range 3-8:
['u', 'q', 'H', 'o', 'S']

Elements sliced from 5th element till the end:
['H', 'o', 'S', 'S', 'a', 'i', 'n']

Printing all elements using slice operation:
['f', 'a', 'r', 'u', 'q', 'H', 'o', 'S', 'S', 'a', 'i', 'n']

**list sorting**

---

In [ ]:
lst2=[1,2,4,2,4,2,4,2,5,6,7,4]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]
[1, 2, 4, 2, 4, 2, 4, 2, 5, 6, 7, 4]
[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

In [ ]:
lst2=[1,2,4,2,4,2,4,2,5,6,7,4]
lst3=sorted(lst2)
print(lst3)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

In [ ]:
lst2=[1,2,4,2,4,2,4,2,5,6,7,4]
print(lst2)

[1, 2, 4, 2, 4, 2, 4, 2, 5, 6, 7, 4]

In [ ]:
lst2=[1,2,4,2,4,2,4,2,5,6,7,4]
lst2.sort()
print(lst2)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

In [ ]:
lst2=[1,2,4,2,4,2,4,2,5,6,7,4]
lst2.reverse()
print(lst2)

[4, 7, 6, 5, 2, 4, 2, 4, 2, 4, 2, 1]

**creating tuple**

---

A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

In [ ]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3])
()
()

**iterating tuple**

---

In [ ]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

In [ ]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0[2])
print(tp0[6])

3
python

**inserting into tuple**

---

In [ ]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
tp0+=("pandas",232,3,232,3)
print(tp0)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], 'pandas', 232, 3, 232, 3)

**Repetition in Tuples**

---

In [ ]:
# Code to create a tuple with repetition 
  
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

**Slicing in Tuples**

---

In [ ]:

# code to test slicing 
  
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1])

(1, 2, 3)
(3, 2, 1, 0)

**Finding Length of a Tuple**

---

In [38]:
# Code for printing the length of a tuple 
  
tuple2 = ('python', 'faruq') 
print(len(tuple2))

2

**Converting list to a Tuple**

---

Takes a single parameter which may be a list,string,set or even a dictionary( only keys are taken as elements) and converts them to a tuple.

In [ ]:
# Code for converting a list and a string into a tuple 
  
list1 = [0, 1, 2] 
print(tuple(list1)) 
print(tuple('python')) # string 'python'

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

**Tuples in a loop**

---

In [ ]:

#python code for creating tuples in a loop 
  
tup = ('Faruq',) 
n = 5  #Number of time loop runs 
for i in range(int(n)): 
    tup = (tup,) 
    print(tup)

(('Faruq',),)
((('Faruq',),),)
(((('Faruq',),),),)
((((('Faruq',),),),),)
(((((('Faruq',),),),),),)

**Using cmp(), max() , min()**

---

In [ ]:
# A python program to demonstrate the use of  
# cmp(), max(), min() 
  
tuple1 = ('python', 'geek') 
tuple2 = ('coder', 1) 
  
if (cmp(tuple1, tuple2) != 0): 
  
    # cmp() returns 0 if matched, 1 when not tuple1  
    # is longer and -1 when tuple1 is shoter 
    print('Not the same') 
else: 
    print('Same') 
print ('Maximum element in tuples 1,2: ' + 
        str(max(tuple1)) +  ',' + 
        str(max(tuple2))) 
print ('Minimum element in tuples 1,2: ' + 
     str(min(tuple1)) + ','  + str(min(tuple2)))

NameError: ignored

**unpacking sequences**

---

Python Tuples In python tuples are used to sore immutable object. Python Tuples are very similar to lists except to some situations. Python tuples are immutable means that they can not be modified in whole program.

Packing and Unpacking a Tuple : In Python there is a very powerful tuple assignment feature that assigns right hand side of values into left hand side. In other way it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [ ]:
# Program to understand about  
# packing and unpacking in Python 
  
# this lines PACKS values 
# into variable a 
a = ("Daffodil International University", 500, "Engineering")   
  
# this lines UNPACKS values 
# of variable a 
(University, student, type_ofvarsity) = a   
  
# print college name 
print(University) 
  
# print no of student 
print(student) 
  
# print type of college 
print(type_ofvarsity)

Daffodil International University
500
Engineering

Python uses a special syntax to pass optional arguments (*args) for tuple unpacking. This means that there can be many number of arguments in place of (*args) in python. All values will be assigned to every variable on left hand side and all remaining values will be assigned to *args .For better understanding consider the following code.

In [ ]:
# Python code to study about 
# unpacking python tuple using * 
  
# first and last will be assigned to x and z 
# remaining will be assined to y 
x, *y, z = (10, "Faruq ", " for ", "Meem ", 50) 
  
# print details 
print(x) 
print(y) 
print(z) 
  
# first and second will be assigned to x and y 
# remaining will be assined to z 
x, y, *z = (10, "Faruq ", " for ", "Meem ", 50) 
print(x) 
print(y) 
print(z)

10
['Faruq ', ' for ', 'Meem ']
50
10
Faruq
[' for ', 'Meem ', 50]

In python tuples can be unpacked using a function in function tuple is passed and in function values are unpacked into normal variable. Consider the following code for better understanding.

In [ ]:
# Python code to study about 
# unpacking python tuple using function 
  
# function takes normal arguments 
# and multiply them 
def result(x, y): 
    return x * y 
# function with normal variables 
print (result(10, 100)) 
  
# A tuple is created 
z = (10, 100) 
  
# Tuple is passed 
# function unpacked them 
  
print (result(*z))

1000
1000

In [ ]:
lst=[2,3,423,43]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

2
3
423
43

In [ ]:
tp=(2,3,423,43)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

2
3
423
43