<a href="https://colab.research.google.com/github/Faruq-hossain/Python-codding/blob/master/youtube_1_course_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Getting Input**

---

In [ ]:
name=input('What is your name?')
print('Hi...'+name)

What is your name?Faruq
Hi...Faruq

In [ ]:
name = input('What is your name? ')
Favourite_color = input('What is your favourite color? ')
print(name + ' likes ' + Favourite_color)

What is your name? faruq
What is your favourite color? blue
faruq likes blue

**Type Convert**

---

In [ ]:
birth_year=input('Birth year : ')
age = 2020-int(birth_year)
print(age)

Birth year : 1998
22

Now see what type is it?

---

In [ ]:
birth_year=input('Birth year : ')
print(type(birth_year))
age = 2020-int(birth_year)
print(type(age))
print(age)

Birth year : 1998
<class 'str'>
<class 'int'>
22

**ask a user their weight(in pounds) convert it to kilograms and print on the terminal.**

---

In [ ]:
weight_lbs = print('Weight (lbs) : ')
weight_kg = int (weight_lbs) * 0.45
print(weight_kg)

Weight (lbs) :

TypeError: ignored

Of course, you still need to crop both kilograms and grams so the numbers do not "overlap". You can turn the one to int, thus dropping the decimal digits, and take the other modulo 1000 to drop everything in excess of one kilogram.

Your syntax error seems to come from a missing ) in the input line.

You conversion from pounds to kilograms is wrong, it should be / 2.2, not * 2.2

Those function parameters make no sense; you calculate those inside the function.

**Instead, you should pass the pounds to the function and return the kilograms and grams and do the input and printing stuff outside of the conversion function.**

In [ ]:
def poundsToMetric(pounds):
    kilograms = pounds / 2.2
    grams = kilograms * 1000
    return int(kilograms), grams % 1000

pounds = float(input("How many Pounds? "))
kg, g = poundsToMetric(pounds)
print('The amount of pounds you entered is {}. '\
'This is {} kilograms and {} grams.'.format(pounds, kg, g))

How many Pounds? 32
The amount of pounds you entered is 32.0. This is 14 kilograms and 545.4545454545441 grams.

In [ ]:
def poundsToMetricFunction(kilograms, grams):
    #You were missing a bracket on the following line
    pounds = float(input("enter the amount of pounds:  "))
    kilograms = pounds * 2.2
    grams = kilograms * 1000

    print('The amount of pounds you entered is ', pounds,
          ' This is ', kilograms, ' kilograms ', 'and', grams,
          'grams' )

**String**

---

Double cotation

---

In [ ]:
Course = "Python's course complete"
print(Course)

Python's course complete

Single cotation

---

In [ ]:
Course = 'Python course complete'
print(Course)

Python course complete

In [ ]:
Course = 'Python course "complete"'
print(Course)

Python course "complete"

3 cotation

---

In [ ]:
Course = '''
Hi Faruq,

Here is our first email to you.

Thank you,
The support team


'''
print(Course)

Hi Faruq,

Here is our first email to you.

Thank you,
The support team

**get a character and a given index in this string.**

---



...so to get the first character we use square brakets...

In [ ]:
Course = 'Python course complete'
print(Course[0])

P

/...now we have negative index we can get the characters starting from the end. So if i pass negative 1 here( **Assuming that 0 is the index of the first character** ) and ( **negative 1 is the index of the last character**. )

In [ ]:
Course = 'Python course complete'
print(Course[-1])
print(Course[-2])
print(Course[-3])
print(Course[-4])
print(Course[-5])
print(Course[-6])
print(Course[-7])
print(Course[-8])
print(Course[-9])
print(Course[-10])
print(Course[-11])

e
t
e
l
p
m
o
c

e
s

//.....Now syntax to extract a few character insted of 1 character....///

here python interpreter will return all the characters.starting 0(p) with this index all the way to this second index but it does not return the character at this index 3(h) not print

In [ ]:
Course = 'Python course complete'
print(Course[0:3])

Pyt

Now we have default value int he start and end index. So if we don't supply end index . python supply will return all the characters to the end of the string.

In [ ]:
Course = 'Python course complete'
print(Course[0:])

Python course complete

In [ ]:
Course = 'Python course complete'
print(Course[1:])

ython course complete

In [ ]:
Course = 'Python course complete'
print(Course[:6])

Python

In [ ]:
Course = 'Python course complete'
print(Course[0:6])

Python

define another variable here

In [ ]:
Course = 'Python course complete'
another = Course[:]
print(another)

Python course complete

**practice**

---

In [ ]:
name = 'Faruq Hossain'
print(name[1:-1])

aruq Hossai

**Formatted String**

---

Formatted string are particularly useful in situation where you dynamically generate some text with your variables.

In [ ]:
first ='Faruq'
last = 'Hosssain'
message = first + ' [' + last +'] is a coder'
print(message)

Faruq [Hosssain] is a coder

the code is complicated code because harder to visualize the output. SO someone else reading this code they have to visualize all the string concatenations in their head. This is where we use ( first + ' [' + last +'] is a coder) this is formate string 

they make it easier for us to visualize the output.so ( msg = f'{first} [{last}] is a coder') 
here two holes in our string. one is for the value of our first name variable and the other is for the value of the last name variable.

But compare this formatted string with string concatenation.this easily visualize what the output looks.

In [ ]:
first ='Faruq'
last = 'Hosssain'
message = first + ' [' + last +'] is a coder'
msg = f'{first} [{last}] is a coder'
print(message)

Faruq [Hosssain] is a coder

**String Method**

---

using the len function we can enforce a limit on the number of characters in an input field.
anothere character here then its error. 

the len function is general purpose function.so it is not lmited to counting number of characters string.

In [ ]:
course = 'My Name Is Faruq Hossain'
print(len(course))

24

Now show all have function for converting all these characters to upper case or lower case.so we can use here the (dot) operator

In [ ]:
course = 'My Name Is Faruq Hossain'
course.upper()

'MY NAME IS FARUQ HOSSAIN'

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.upper())

MY NAME IS FARUQ HOSSAIN

lower case

In [ ]:
course = 'My Name Is Faruq Hossain'
course.lower()

'my name is faruq hossain'

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.lower())

my name is faruq hossain

sequence

find method is case sensitive, so its to lowercase and uppercase character

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.find('N'))

3

here is no uppercase O

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.find('O'))

-1

Hossain start 17

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.find('Hossain'))

17

method replracing a character or a sequence of characters.so that is called replace

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.replace('Hossain','Absolute Hossain'))

My Name Is Faruq Absolute Hossain

In [ ]:
course = 'My Name Is Faruq Hossain'
print(course.replace('F','H'))

My Name Is Haruq Hossain

There time you want to check the existing of a character or sequence of character in your string . In those situations you see the in operator

so lets say you to know if this string contins the word python

('I am Faruq') its true or false its find the expression is boolean expression.

now note that the different between the (in) operator and the find method is that our find method returns the index of character or sequence of characters but the i(in ) operator produces a boolean value

In [ ]:
course = 'My Name Is Faruq Hossain'
print('Python' in course)

False

In [ ]:
course = 'My Name Is Faruq Hossain'
print('python' in course)

False

In [ ]:
course = 'My Name Is Faruq Hossain'
print('Faruq' in course)

True

**Arithmetic Operator**

---

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

We have augmented assignment operator.That is very useful.

In [ ]:
x=10
x= x+3
print(x)

13

augmented assignment operator is a way to write the same code but in a shorter from .This

In [ ]:
x=10
x= x+3
x +=3
x -=3
x *=3
print(x)

39

**Operator Precedence**

---

In [ ]:
x = 10+3*2
y = 10+3*2**2
z = (10+3)*2**2
ex = (2+3)* 10-3
print(x)
print(y)
print(z)
print(ex)

16
22
52
47

**Math Function**

---

use is built in round function

In [ ]:
x = 2.9
print(round(x))

3

its always returns the positive representation of this value , even if the value is negative.

In [ ]:
x = 2.9
print(abs(-2.9))

2.9

how to use (module)

math all in lowercase.with this we can import the math module. now math is an object like a string so we can access it's function or more accurately it's method using the (dot) operator.

In [ ]:
import math
print(math.ceil(2.9))

3

In [ ]:
import math
print(math.floor(2.9))

2

In [ ]:
import math
print(math.comb(1 + 2) ** 5)

AttributeError: ignored

In [ ]:
import math
print(math.copysign(2,9))

2.0

In [ ]:
import math
print(math.copysign(1.0,-0.0))

-1.0

In [ ]:
import math
print(math.fabs(1))

1.0

In [ ]:
import math
print(math.factorial(5.0))

120

In [ ]:
import math
print(math.fmod(5,7))

5.0

In [ ]:
import math
print(math.frexp(5))

(0.625, 3)

In [ ]:
import math
print(math.fsum(5))

TypeError: ignored

In [ ]:
import math
print(math.gcd(5,8))

1

In [ ]:
import math
print(math.isclose(5,8))

False

In [ ]:
import math
print(math.isfinite(5.8))

True

In [ ]:
import math
print(math.isinf(5.8))

False

In [ ]:
import math
print(math.isinf(+5.0000000))

False

In [ ]:
import math
print(math.isnan(5.8))

False

In [ ]:
import math
print(math.isqrt(3.8))

AttributeError: ignored

In [ ]:
import math
print(math.ldexp(8*,5**8)))

SyntaxError: ignored

In [ ]:
import math
print(math.modf(5.8))

(0.7999999999999998, 5.0)

In [ ]:
import math
print(math.nextafte(5,8))

AttributeError: ignored

In [ ]:
import math
print(math.perm(5.8))

AttributeError: ignored

link another method (https://docs.python.org/3/library/math.html)

**If Statement**

---

Example
**If it is hot**
*it is a hot day*
**drink plenty of water**
otherwise
**if it is cold**
*it is a cold day*
**wear warm clothes**
otherwise
**it is a lovely day**

In [ ]:
is_hot = True
if is_hot:
  print("It is a hot day")
print("Enjoy your day")

It is a hot day
Enjoy your day

In [ ]:
is_hot = False
if is_hot:
  print("It is a hot day")
print("Enjoy your day")

Enjoy your day

In [ ]:
is_hot = True
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
print("Enjoy your day")

It is a hot day
Drink plenty of water
Enjoy your day

here we can see else condition is not working

In [ ]:
is_hot = True
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
else:
  print("It is a cold day")
  print("wear warm clothes")
print("Enjoy your day")

It is a hot day
Drink plenty of water
Enjoy your day

so use here is hot is false

In [ ]:
is_hot = False
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
else:
  print("It is a cold day")
  print("wear warm clothes")
print("Enjoy your day")

It is a cold day
wear warm clothes
Enjoy your day

now work this process(otherwise if it is cold it is a cold day wear warm clothes otherwise it is a lovely day)

In [ ]:
is_hot = False
is_cold = True
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
elif is_cold:
  print("It is a cold day")
  print("wear warm clothes")
else:
  print("it is a lovely day")
print("Enjoy your day")

It is a cold day
wear warm clothes
Enjoy your day

In [ ]:
is_hot = True
is_cold = False
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
elif is_cold:
  print("It is a cold day")
  print("wear warm clothes")
else:
  print("it is a lovely day")
print("Enjoy your day")

It is a hot day
Drink plenty of water
Enjoy your day

In [ ]:
is_hot = False
is_cold = False
if is_hot:
  print("It is a hot day")
  print("Drink plenty of water")
elif is_cold:
  print("It is a cold day")
  print("wear warm clothes")
else:
  print("it is a lovely day")
print("Enjoy your day")

it is a lovely day
Enjoy your day

In [ ]:
i = 20
if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else: 
    print ("i is not present")

i is 20

Another example
**Price of a house is $1M.**
if buyer has good credit,
They need to put down 10%
**otherwise**
they need to put down 20%
**print the down payment**

In [ ]:
price = 1000000
is_good_creadit = True
if is_good_creadit:
  down_payment = 0.1*price
else :
  down_payment = 0.2*price
print(f"Down payment: ${down_payment}")

Down payment: $100000.0

**Nested if**

---

In [ ]:
i = 10
if (i == 10): 
    #  First if statement 
    if (i < 15): 
        print ("i is smaller than 15") 
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if (i < 12): 
        print ("i is smaller than 12 too") 
    else: 
        print ("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**And**

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**Or**

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

The syntax for a nested while loop statement in Python programming language is as follows

In [ ]:
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : 
     print(i, " is prime")
   i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

**sort hand if**

Whenever there is only a single statement to be executed inside the if block then shorthand if can be used. The statement can be put on the same line as the if statement.

In [ ]:
i = 10
if i < 15: print("i is less than 15")

i is less than 15

**short hand if else**

This can be used to write the if-else statements in a single line where there is only one statement to be executed in both if and else block.

In [ ]:
i = 10
print(True) if i < 15 else print(False)

True

**While loop**

while loops to excute a block of code multiple times and there are often useful in building interactive programs and games.

In [ ]:
i = 1
while i<=5:
  print(i)
  i=i+1
print("done")

1
2
3
4
5
done

In [ ]:
i = 1
while i<=5:
  print('*' * i)
  i=i+1
print("done")

*
**
***
****
*****
done

**Guessing game in while loop python**

Here the game working process

So here the secrect number is 9 . Now computer is asking me to make a guess. So, 1st gess 1 then 2 then 3 here not fint my number so. u faield the game. and you only have 3 chances to make a guess. If can not guess the number the program tells me that i faielled.

In [ ]:
secret_number = 9
guess_count = 0                     #guess_count represent the number of guesses the use has made
guess_limit = 3

while guess_count < guess_limit:
  guess = int(input('GUess :'))     #here (int) use because the users enters comes out as a string so we need to convert it to an integer.
  guess_count +=1                   #increment the guess_count
  if guess == secret_number:
    print('You Won!...')
    break
else:
  print('Sorry, You Faield The Game...')

GUess :1
GUess :2
GUess :3
Sorry, You Faield The Game...

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input('GUess :'))
  guess_count +=1
  if guess == secret_number:
    print('You Win...')
    break
else:
  print('You Faield The Game...')

GUess :1
GUess :2
GUess :3
You Faield The Game...

**Another**

In [ ]:
from random import randint
guesses = 1
number = randint(1,10)

guess = int (input("Gusses the number between 1 to 100.\n"))

while guess!=number:
  if guess < number:
    print("Your guess too low.\n")
    guess = int (input("Guess again!. \n"))

    guesses = guesses + 1
  elif guess > number:
    print("Your guess was too high.\n")
    guess = int (input("Guess again!. \n"))
    guesses = guesses+1
print()
print("Congratulations, you guess the number!. \n")
print("It only took you", guesses,"guesses!.\n")

Gusses the number between 1 to 100.
1
Your guess too low.

Guess again!.
2
Your guess too low.

Guess again!.
3
Your guess too low.

Guess again!.
4

Congratulations, you guess the number!.

It only took you 4 guesses!.

**Car Game**

---

this game doen not have a graphical user interface or gooy

In [ ]:
command = ""
while command!= "quit":
  command = input(">").lower()
  if command == "start":
    print("Car Started...")
  elif command == "stop":
    print("Car Stopped...")
  elif command == "help":
    print("""
    start- to start the car
    stop - to stop the car
    quit - to quit
    """)
  else:
    print("Sorry, I don't understand!")

>start
Car Started...
>stop
Car Stopped...
>help

    start- to start the car
    stop - to stop the car
    quit - to quit

>quit
Sorry, I don't understand!

now here we can see we run the program quit then show the "**Sorry, I don't understand!"** *now to to remove and just show quit dont show another message*

In [ ]:
command = ""
while command!= "quit":
  command = input(">").lower()
  if command == "start":
    print("Car Started...")
  elif command == "stop":
    print("Car Stopped...")
  elif command == "help":
    print("""
    start- to start the car
    stop - to stop the car
    quit - to quit
    """)
  else:
    print("Sorry, I don't understand!")

>quit
Sorry, I don't understand!

**now remove quit message **just change just before last else block and add another **elif command == "quit" break** this will so our problem but note that have kind of repated this expression in two places.the reality we dont really need this **while command!= "quit":** condition with **this if statement  well more accuratly with this elif we can jump out of this loop and terminate our program** so here use **while True:** this means **this block of code is going to get executed repeatedly,until we explicitly break out of it,**

In [ ]:
command = ""
while True:
  command = input(">").lower()
  if command == "start":
    print("Car Started...")
  elif command == "stop":
    print("Car Stopped...")
  elif command == "help":
    print("""
    start- to start the car
    stop - to stop the car
    quit - to quit
    """)
  elif command == "quit":
    break
  else:
    print("Sorry, I don't understand!")

>quit

**another**

In [ ]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [ ]:
var = 1
while var == 1 :  # This constructs an infinite loop
 num = raw_input("Enter a number  :")
  print('You entered: ', num)

print("Good bye!")

IndentationError: ignored

**The Infinite Loop**

In [ ]:
var = 10

while var == 10:
  num = input("Enter a number :")
  print("You enter :",num)
  print("Good bye!")

**Using else Statement with While Loop**

If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

In [ ]:
count = 0
while count < 5:
   print(count, " is  less than 5") 
   count = count + 1
else:
   print(count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Single Statement Suites**

---

Similar to the if statement syntax, if your while clause consists only of a single statement, it may be placed on the same line as the while header.

In [ ]:
flag = 1
while (flag): 
  print('Given flag is really true!')
print("Good bye!")

**For loop**

In [ ]:
for item in "Python":
  print(item)

P
y
t
h
o
n

In [ ]:
for item in ['family','faruq','meem']:
  print(item)

family
faruq
meem

In [ ]:
for item in [1,2,3]:
  print(item)

1
2
3

In [ ]:
for item in [1,2,3,4,5,6,7,8]:
  print(item)

1
2
3
4
5
6
7
8

larg list of number. we dont to explicitly type out a list with 100 , 1000 numbers we dont want to type 5,6 all the way to 100. that is when we use the **range dunction**

In [ ]:
for item in range(10):
  print(item)

0
1
2
3
4
5
6
7
8
9

th erange function is an object,it is not a list a special kind of object we can iterate over, in each iteration this object will split out a new number,.now use another number here 5, 10

In [ ]:
for item in range(5,10):
  print(item)

5
6
7
8
9

last 2 number print we can use last just 2

In [ ]:
for item in range(5,10,2):
  print(item)

5
7
9

**Exersice**

i want to write a program to calculate the total cost of all the items in a shopping cart.

here use for loop to calculate the total cost of all the items in our imaginary shopping cart,

**solve**use for loops over all the items in a collection. a collection can be string it can be list it can be a range object that is returned from the range function. anything any kind of object that has multiple items.

so in this example we were to use a for **loop to iterate** over the list of prices **for item in prices :** this loop variable we do not have to call this item can call this anything, for example **for price in prices :** in this iteration **price** will hold one value. in the first iteration it is going to hold 10 items then going to be 20 and then ot is going to be 30 . so we need to define another variable to calculate the total . so we define that outside of our for loop . let's call it** total = 0**

so this iteration we get the current price and add it to the total so **total += total + price** or as you learned earlier we can use the argumented assignment operator to simplify this code **+**

now formate string so print(f"Total: {dynamicaly include some value in our string,**total**}

In [ ]:
for letter in 'Python':     # First Example
   print('Current Letter :', letter) 

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit) 

print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

In [ ]:

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

**Iterating by Sequence Index**

An alternative way of iterating through each item is by index offset into the sequence itself. Following is a simple example

In [ ]:
fruits = ['banana','apple','mango']
for index in range(len(fruits)):
  print('current fruit :',fruits[index])
print('Good bye!')

current fruit : banana
current fruit : apple
current fruit : mango
Good bye!

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

**Start parameter**

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

**Increment the sequence with 3 (default is 1):**

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

**Using else Statement with For Loop**

If the else statement is used with a for loop, the else statement is executed when the loop has exhausted iterating the list.

In [ ]:
for num in range(10,20):     #to iterate between 10 to 20
   for i in range(2,num):    #to iterate on the factors of the number
      if num%i == 0:         #to determine the first factor
         j=num/i             #to calculate the second factor
         print('%d equals %d * %d' % (num,i,j)) 
         break #to move to the next number, the #first FOR
   else:                  # else part of the loop
      print(num, 'is a prime number')
break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

SyntaxError: ignored

**Brake statement**

The most common use for break is when some external condition is triggered requiring a hasty exit from a loop. The break statement can be used in both while and for loops.

If you are using nested loops, the break statement stops the execution of the innermost loop and start executing the next line of code after the block.

In [ ]:
for letter in 'Python':     # First Example
   if letter == 'h':
      break
   print('Current Letter :', letter) 

print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Good bye!

In [ ]:
var = 10                    # Second Example
while var > 0:              
   print('Current variable value :', var) 
   var = var -1
   if var == 5:
      break

print("Good bye!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

**Nested loop**

In [ ]:
prices = [10,20,30]

total = 0
for price in prices:
  total += price
print(f"Total:{total}")

Total:60

in these program u can see ta x value generate . but we shoud generate a few y values. so that is where we use anested loop

this program add to middle coma look like this

(x,y)=(0,0)(0,1)(0,2)(1,0)(1,1)(1,2) this easily generate these coordinates using nested loops.

In [ ]:
for x in range(4):
  print(x)

0
1
2
3

heding 1 loop inside of another loop

so inside the 1st loop add another loop

now explain this how this program gets execudet . so 1st iteration of the **outer **loop x is 0 . now the new loop which is call inner looop

In [ ]:
for x in range(4):
  for y in range(3):
    print(x,y)
    #print(f'{x},{y}')

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [ ]:
for x in range(4):
  for y in range(3):
    print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Exeicise**

In [ ]:
number = [5,2,5,2,2]
for x in number:
    print('x' * x)

xxxxx
xx
xxxxx
xx
xx

**or**

here line 3 we were going to reset our output variable to an empty string. so we start over then we go to inner loop. this loop exicute 2 times. to the output variable and then print it.

In [ ]:
number = [5,2,5,2,2]
for x in number:
  output = ''
  for count in range(x):
    output += 'x'
  print(output)

xxxxx
xx
xxxxx
xx
xx

**List**

**Continue statement**

It returns the control to the beginning of the while loop.. The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

In [ ]:
for letter in 'Python':     # First Example
   if letter == 'h':
      break
   print('Current Letter :', letter) 

print("Good bye!")

#continue
for letter in 'Python':     # First Example
   if letter == 'h':
      continue
   print('Current Letter :', letter) 
print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Good bye!
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Good bye!

In [ ]:
var = 10                    # Second Example
while var > 0:              
   print('Current variable value :', var) 
   var = var -1
   if var == 5:
      break

print("Good bye!") 


var = 10                    # Second Example
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print('Current variable value :', var) 
print("Good bye!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

**Pass statement**

It is used when a statement is required syntactically but you do not want any command or code to execute.

The pass statement is a null operation; nothing happens when it executes. The pass is also useful in places where your code will eventually go, but has not been written yet (e.g., in stubs for example)

In [ ]:

for letter in 'Python': 
   if letter == 'h':
      pass
      print('This is pass block') 
   print('Current Letter :', letter)

print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

**Logical Operation**

---

 we use the operator in situations where we have multiple operation

For example
**let's say where building an application for processing loans**if applicant has high income and good credit eligible for loan
**Here 2 condition (1) high income (2)good credit.**This both condition are true then the applicant is eligible for a loan. **SO here use logical and operator.**

In [ ]:
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
  print("Eligible for loan")

Eligible for loan

**Or** operator at least is only of the condition is true.

if applicant has high income **or** good credit eligible for loan

In [ ]:
has_high_income = True
has_good_credit = False

if has_high_income or has_good_credit:
  print("Eligible for loan")

Eligible for loan

In [ ]:
has_high_income = False
has_good_credit = False

if has_high_income or has_good_credit:
  print("Eligible for loan")

**Not**

Inverses any boolean value we give it .if we give it true in convart it to false

Example

If applicant has good credit AND does not a criminal record then Eligible for record

In [ ]:
has_good_credit = True
has_criminal_record = False

if has_good_credit and not has_criminal_record:
  print("Eligible for loan")

In [ ]:
has_good_credit = True
has_criminal_record = True

if has_good_credit and not has_criminal_record:
  print("Eligible for loan")

**AND**

Logical AND: True if both the operands are true

In [ ]:
a = 10
b = 10
c = -10
  
if a > 0 and b > 0: 
    print("The numbers are greater than 0") 
  
if a > 0 and b > 0 and c > 0: 
    print("The numbers are greater than 0") 
else: 
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

**OR**

Logical OR: True if either of the operands is true

In [ ]:
a = 10
b = -10
c = 0
  
if a > 0 or b > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0") 
  
if b > 0 or c > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

**NOT**

Logical NOT: True if operand is false

In [ ]:
a = 10
  
if not a: 
    print("Boolean value of a is True") 
  
if not (a%3 == 0 or a%5 == 0): 
    print("10 is not divisible by either 3 or 5") 
else: 
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

**Order of evaluation of logical operators**

In the case of multiple operators, Python always evaluates the expression from left to right. This can be verified by the below example.

In [ ]:
def order(x): 
    print("Method called for value:", x) 
    return True if x > 0 else False
      
a = order 
b = order 
c = order 
  
if a(-1) or b(5) or c(10): 
    print("Atleast one of the number is positive")

Method called for value: -1
Method called for value: 5
Atleast one of the number is positive

**Comparism Operators**

We use comperators in operator in situation where we want to compare a variable with value

Example

If temperature is greater than 30 .its a hot day.

otherwise if it is less than 10. it is a cold day

otherwise it is neither hot or cold

In [ ]:
temperature = 35
if temperature > 30:
  print("it is a hot day")
else:
  print("it is not a hot day") #temperature >30

it is a hot day

In [ ]:
temperature = 30
if temperature > 30:
  print("it is a hot day")
else:
  print("it is not a hot day")

it is not a hot day

In [ ]:
temperature = 35
if temperature >= 30:
  if temperature <= 30:
    if temperature == 30:
      if temperature = 30:
        if temperature != 30: #assignmet statement
  print("it is a hot day")
else:
  print("it is not a hot day")

SyntaxError: ignored

Example

If name is less than 3 character long .name must be at least 3 characters

otherwise if it is more than 50 characters long.name must be a maximum of 50 characters

otherwise looks goor!

In [ ]:
name = "faruq"
if len(name) < 3:
  print("Name must be at least 3 characters")
elif len(name) > 50:
  print("Name must be at least 50 characters")
else:
  print("looks good! ")

looks good!

In [ ]:
a = 13
b = 33
  
# a > b is False 
print(a > b) 
  
# a < b is True 
print(a < b) 
  
# a == b is False 
print(a == b) 
  
# a != b is True 
print(a != b) 
  
# a >= b is False 
print(a >= b) 
  
# a <= b is True 
print(a <= b)

False
True
False
True
False
True

**Examples of Bitwise operators**

In [ ]:
# Examples of Bitwise operators 
a = 10
b = 4
  
# Print bitwise AND operation   
print(a & b) 
  
# Print bitwise OR operation 
print(a | b) 
  
# Print bitwise NOT operation  
print(~a) 
  
# print bitwise XOR operation  
print(a ^ b) 
  
# print bitwise right shift operation  
print(a >> 2) 
  
# print bitwise left shift operation  
print(a << 2)

0
14
-11
14
2
40

In [ ]:
a = 21
b = 10
c = 0

if ( a == b ):
   print("Line 1 - a is equal to b") 
else:
   print("Line 1 - a is not equal to b") 

if ( a != b ):
   print("Line 2 - a is not equal to b") 
else:
   print("Line 2 - a is equal to b") 

#if ( a <> b ):
   #print("Line 3 - a is not equal to b") 
#else:
   #print("Line 3 - a is equal to b") 

if ( a < b ):
   print("Line 4 - a is less than b" ) 
else:
   print("Line 4 - a is not less than b") 

if ( a > b ):
   print("Line 5 - a is greater than b") 
else:
   print("Line 5 - a is not greater than b") 

a = 5;
b = 20;
if ( a <= b ):
   print("Line 6 - a is either less than or equal to  b") 
else:
   print("Line 6 - a is neither less than nor equal to  b") 

if ( b >= a ):
   print("Line 7 - b is either greater than  or equal to b") 
else:
   print("Line 7 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 4 - a is not less than b
Line 5 - a is greater than b
Line 6 - a is either less than or equal to  b
Line 7 - b is either greater than  or equal to b

In [ ]:
a = 21
b = 10
c = 0

c = a + b
print("Line 1 - Value of c is ", c) 

c += a
print("Line 2 - Value of c is ", c ) 

c *= a
print("Line 3 - Value of c is ", c ) 

c /= a 
print("Line 4 - Value of c is ", c ) 

c  = 2
c %= a
print("Line 5 - Value of c is ", c) 

c **= a
print("Line 6 - Value of c is ", c) 

c //= a
print("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

**Bitwise Operator**

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100  #Operator copies a bit to the result if it exists in both operands
                                    #(a & b) (means 0000 1100)
print("Line 1 - Value of c is ", c) 

c = a | b;        # 61 = 0011 1101   #It copies a bit if it exists in either operand.
                                     #(a | b) = 61 (means 0011 1101)
print("Line 2 - Value of c is ", c) 

c = a ^ b;        # 49 = 0011 0001   #It copies the bit if it is set in one operand but not both.
                                    #(a ^ b) = 49 (means 0011 0001)
print("Line 3 - Value of c is ", c) 

c = ~a;           # -61 = 1100 0011  #It is unary and has the effect of 'flipping' bits.
                                     #	(~a ) = -61 (means 1100 0011 in 2's complement form due to a signed binary number.
print("Line 4 - Value of c is ", c) 

c = a << 2;        # 240 = 1111 0000  #The left operands value is moved left by the number of bits specified by the right operand.
                                      #a << 2 = 240 (means 1111 0000)

print("Line 5 - Value of c is ", c) 

c = a >> 2;       # 15 = 0000 1111   #The left operands value is moved right by the number of bits specified by the right operand.
print("Line 6 - Value of c is ", c)  # a >> 2 = 15 (means 0000 1111)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

**Membership Operators**

**in** 	Evaluates to true if it finds a variable in the specified sequence and false otherwise.

**Example** x in y, here in results in a 1 if x is a member of sequence y.

**not in**Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

**Example**x not in y, here not in results in a 1 if x is not a member of sequence y.

In [ ]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ];

if ( a in list ):
   print("Line 1 - a is available in the given list") 
else:
   print("Line 1 - a is not available in the given list") 

if ( b not in list ):
   print("Line 2 - b is not available in the given list") 
else:
   print( "Line 2 - b is available in the given list")

a = 2
if ( a in list ):
   print("Line 3 - a is available in the given list") 
else:
   print("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

**Identity Operators**

**is** 	*Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.*

**Example** x is y, here is results in 1 if id(x) equals id(y).

**is not** *	Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.*

**Example** x is not y, here is not results in 1 if id(x) is not equal to id(y).

In [ ]:
a = 20
b = 20

if ( a is b ):
   print( "Line 1 - a and b have same identity")
else:
   print("Line 1 - a and b do not have same identity") 

if ( id(a) == id(b) ):
   print("Line 2 - a and b have same identity") 
else:
   print("Line 2 - a and b do not have same identity") 

b = 30
if ( a is b ):
   print("Line 3 - a and b have same identity") 
else:
   print("Line 3 - a and b do not have same identity") 

if ( a is not b ):
   print("Line 4 - a and b do not have same identity") 
else:
   print( "Line 4 - a and b have same identity")

Line 1 - a and b have same identity
Line 2 - a and b have same identity
Line 3 - a and b do not have same identity
Line 4 - a and b do not have same identity

**operators precedence**

[link text](https://www.tutorialspoint.com/python/operators_precedence_example.htm)

In [ ]:
a = 20
b = 10
c = 15
d = 5
e = 0

e = (a + b) * c / d       #( 30 * 15 ) / 5
print("Value of (a + b) * c / d is ",  e) 

e = ((a + b) * c) / d     # (30 * 15 ) / 5
print("Value of ((a + b) * c) / d is ",  e) 

e = (a + b) * (c / d);    # (30) * (15/5)
print("Value of (a + b) * (c / d) is ",  e) 

e = a + (b * c) / d;      #  20 + (150/5)
print("Value of a + (b * c) / d is ",  e)

Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

**Project: Weight Convert**

here convert someon's weight from pounds to kilograms. Now we want to extend this program and allow the user to enter their weight in eother kilograms or pounds and then we will convert it to the other unit. so see how it to work

In [ ]:
weight = int (input( 'Weight: '))
unit = input('(L)bs or (K)g: ')
if unit.upper() == "L": #with this inplementation we are only allowing the users to enter a vapital L
               #if they enter a lowercase l this code is not going to work
               #so this is where we use the upper method of string objects so this 
               #unit is a string becaudse as  i told you input function always return string

               #so we can use dot (.) operator to access all it is method or functioin , here we dcall the upper method this will convert we use to upper case and then we will convert it capital l. 
  converted = weight * 0.45
  print(f"You are {converted} kilos")
else:
  converted = weight / 0.45
  print(f"You are {converted} pounds")

Weight: 160
(L)bs or (K)g: l
You are 72.0 kilos

**List**

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names)

['abbu', 'ammu', 'kaieum', 'ami', 'family']

now we can also access anindividual element using an index

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[0])

abbu

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[0])

abbu

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[1])

ammu

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[2])

kaieum

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[3])

ami

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[4])

family

now show the last item.

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[-1])

family

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[-2])

ami

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[-4])

ammu

range item

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[0:])

['abbu', 'ammu', 'kaieum', 'ami', 'family']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[1:])

['ammu', 'kaieum', 'ami', 'family']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[2:])

['kaieum', 'ami', 'family']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[0:2])

['abbu', 'ammu']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
print(names[2:])
names = ['abbu','ammu','kaieum','ami','family',]
print(names[0:])

['kaieum', 'ami', 'family']
['abbu', 'ammu', 'kaieum', 'ami', 'family']

now we will show here print abb last u cut this word

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
names[0] ='abb'
print(names)

['abb', 'ammu', 'kaieum', 'ami', 'family']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
names[3] ='kaeum'
print(names)

['abbu', 'ammu', 'kaieum', 'kaeum', 'family']

In [ ]:
names = ['abbu','ammu','kaieum','ami','family',]
names[0] ='abb'
names[1] ='amm'
names[3] ='fauq'
print(names)

['abb', 'amm', 'kaieum', 'fauq', 'family']

**Exercise**

Write a program to find the largest number in a list